body {
  font-family: "Source Sans Pro", sans-serif;
  color: #506a85; }

nav a {
  font: bolder 13px "Source Sans Pro", sans-serif; }

h2 {
  font-size: 50px;
  color: white;
  line-height: 1.128; }

@media (max-width: 768px) {
  h2 {
    font-size: 25px; } }

@media (max-width: 768px) {
  .btn-responsive {
    padding: 8px 16px;
    font-size: 80%;
    line-height: 1; } }

@media (min-width: 769px) {
  .btn-responsive {
    padding: 15px 30px;
    font-size: 90%;
    line-height: 1.2; } }

h3 {
  margin-top: 120px;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 900; }

h6 {
  font-size: 22px;
  color: white;
  margin-top: 75px;
  margin-bottom: 26px; }

.container-fluid {
  padding-left: 0;
  padding-right: 0; }

.navbar-left {
  margin-left: 25px; }

.navbar-left li {
  padding-left: 15px; }

.navbar-brand {
  padding: 35px 15px; }

.first-section {
  margin-top: 111px; }

.carousel {
  font-family: "Lato", sans-serif; }
  .carousel img {
    width: 100%;
    min-width: 100;
    height: auto; }
  .carousel p {
    font-size: 14px;
    color: #a3b1bf; }

.carousel-indicators {
  bottom: -20px;
  width: 110px;
  height: 30px;
  margin-left: -55px;
  border-radius: 6px;
  background-color: white; }
  .carousel-indicators li, .carousel-indicators .active {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin-top: 7.5px; }
  .carousel-indicators li {
    background-color: #2f4052; }

.carousel-control {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 50%;
  z-index: 5;
  display: inline-block; }

.carousel-control:hover {
  background-color: #506a85;
  color: #00bc9c;
  border-radius: 6px; }

.carousel-caption {
  bottom: 0; }
  .carousel-caption p {
    font-size: 18px;
    margin-bottom: 25px; }

.first-carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.second-carousel-caption {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%); }
  .second-carousel-caption p {
    color: white; }

.third-carousel-caption {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%); }

.wrapHeader h2 {
  background-color: #506a85;
  display: inline-block;
  padding: 15px; }

.fourth-carousel-caption {
  position: absolute;
  top: 35%;
  transform: translate(0, -50%); }
  .fourth-carousel-caption p {
    color: white; }

.fifth-carousel-caption {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%); }

.second-section .text-center p {
  margin-bottom: 80px;
  font-size: 16px; }

.second-section h4 {
  font-size: 20px;
  font-weight: 900; }

.second-section i {
  color: #00bc9c; }

.second-section p {
  margin-bottom: 80px;
  font-size: 12px;
  color: #73879c; }

.third-section {
  background-color: #f2f5f7; }
  .third-section .text-center p {
    margin-bottom: 80px;
    font-size: 20px;
    color: #73879c; }
  .third-section .last-row {
    margin-bottom: 195px; }

.latest-works-1, .latest-works-3 {
  position: relative;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 5px 5px 22px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 22px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 22px -5px rgba(0, 0, 0, 0.5); }
  .latest-works-1 h5, .latest-works-3 h5 {
    font-size: 20px;
    font-weight: 900;
    margin-top: 35px; }
  .latest-works-1 img, .latest-works-3 img {
    width: 100%; }
  .latest-works-1 p, .latest-works-3 p {
    font-size: 10px;
    padding-bottom: 20px; }
  .latest-works-1 span, .latest-works-3 span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10%;
    height: 10%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 4;
    opacity: 0; }

.latest-works-1:hover .imgWrap, .latest-works-3:hover .imgWrap {
  opacity: 0.5; }

.latest-works-1:hover span, .latest-works-3:hover span {
  opacity: 0.7; }

.latest-works-1:hover h5, .latest-works-3:hover h5 {
  color: #00bc9c; }

.latest-works-3 {
  background-color: #2f4052;
  box-shadow: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px; }

.imgWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: #00bc9c;
  opacity: 0;
  z-index: 1; }

.fourth-section {
  height: 482px; }
  .fourth-section p {
    font-size: 20px;
    font-weight: 500; }
  .fourth-section .btn {
    width: 150px;
    height: 50px; }

.fifth-section {
  height: 365px;
  background-color: #2f4052; }
  .fifth-section .row {
    background-color: #2f4052; }
  .fifth-section p {
    font-size: 16px;
    color: #73879c; }
  .fifth-section a {
    font-weight: 700;
    font-size: 16px;
    color: #00bc9c; }
  .fifth-section .logo {
    margin-bottom: 40px; }
  .fifth-section .footer-latest-works .row {
    margin-left: 0;
    margin-right: 0; }
  .fifth-section .footer-latest-works .col-xs-6 {
    padding-left: 0;
    padding-right: 0; }
  .fifth-section input {
    min-width: 150px; }

.input-group {
  padding: 5px;
  background-color: #596675;
  border-radius: 5px; }

footer {
  background-color: #283645; }
  footer a {
    color: #73879c; }
  footer a:hover {
    color: #00bc9c; }
  footer p,
  footer ul {
    margin: 20px 0;
    color: #73879c; }
